:host {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;

  .main {
    width: 100%;
    max-width: 40em;
    padding: 0.3em;
    >section {
      h1 {
        font-size: 1em;
      }
      padding-bottom: 2em;

      button {
        margin-top: 1em;
      }
    }
  }
}

