<section class="main">
  <section>
    <h1>Upload un fichier csv depuis ton ordi</h1>
    <input type="file" (change)="onChange()" />
    <button routerLink="/">Voir la carte</button>
  </section>
  <section>
    <h1>Upload un fichier texte depuis une URL en libre accès</h1>
    <input type="text" placeholder="Ex: http://monsite.com/mon-csv.txt"/>
    <button (click)="onClick()">Charger</button>
  </section>
  <section>
    <h1>Exemples</h1>
    <ul>
      <li><a href="/?url=https://jlg-consulting.com/dataviz/wiame_clients.csvp">Clients de XXX</a></li>
      <li><a href="/?url=https://jlg-consulting.com/dataviz/jlg_consulting_france_clients.csvp">Clients de JLG Consulting</a></li>
    </ul>
  </section>
</section>
