:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

section {
  padding: 0.5em;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  > div {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: 40em;
  }

  &.tagline {
    background-image: url("/assets/tagline.jpg");
    background-position: center;
    background-size: cover;
    > div {
      @media only screen and (max-width: 415px) {
        h1 {
          font-size: 1.5em;
        }
      }
      max-width: 30em;
      button {
        margin-right: 0.5em;
        @media only screen and (max-width: 415px) {
          width: 100%;
          margin-top: 0.5em;
        }
      }
    }
  }
}

h1 {
  text-align: center;
}

.tagline {
  font-weight: bold;
  font-size: 1.4em;
}
