:host {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
  overflow-x: auto;
}

.content {
  height: 10em;
}

.days {
  display: flex;
}

.day {
  border: 0.1em solid #ccc;
  width: 2em;
  text-align: center;
  &.isWeekEnd {
    background: #eee;
  }
}

.weeks {
  display: flex;
}

.week {
  border: 0.1em solid #ccc;
  text-align: center;
}

.months {
  display: flex;
}

.month {
  border: 0.1em solid #ccc;
  text-align: center;
}
