:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

section {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  > div {
    width: 100%;
    max-width: 40em;
  }
  padding: 0.5em;
}

button {
  width: 10em;
}

button.primary {
  margin-top: 0.5em;
}

textarea {
  padding: 0.5em;
  font-family: monospace;
}
