:host {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
}

form {
  display: flex;
  flex-flow: row wrap;
  label {
    div {
      padding-bottom: 0.2em;
    }
    min-width: 19em;
    flex-grow: 1;
  }
}
