<header>
  <a routerLink="/">
    <img src="assets/france.svg" alt="Logo" />
    <span>France Dataviz</span>
  </a>
  <nav>
    <input type="file" (change)="onChange()" />
    <a routerLink="/doc">Help</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div>
    <a href="https://jlg-consulting.com">App offered by JLG Consulting @2020</a>
  </div>
  <div>
    Icons made by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
      >Freepik</a
    >
    from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</footer>
