<header *ngIf="!isFullScreen">
  <a routerLink="/">
    <img src="assets/france.svg" alt="Logo" />
    <span>France Dataviz</span>
  </a>
  <nav>
    <!-- Place this tag where you want the button to render. -->
    <a
      class="github-button"
      href="https://github.com/jlguenego/france-dataviz"
      data-color-scheme="no-preference: light; light: light; dark: dark;"
      data-size="large"
      data-show-count="false"
      aria-label="Star jlguenego/france-dataviz on GitHub"
      >Star</a
    >
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer *ngIf="!isFullScreen">
  <div>
    <a href="https://jlg-consulting.com">App offered by JLG Consulting @2020</a>
  </div>
  <div>
    Icons made by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
      >Freepik</a
    >
    from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</footer>
