<header>
  <a href="#">
    <img src="assets/france.svg" alt="Logo" />
    <span>France Dataviz</span>
  </a>
</header>
<main>
  <h1>Data visualization on France map</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div
        title="The CSV must have column: latitude, longitude, label. Warning: the URL must allow CORS"
      >
        CSV file url
      </div>
      <input type="text" formControlName="csvFilename" />
    </label>
    <button type="submit" class="primary">Visualise</button>
  </form>

  <app-france-map csvFilename="csvFilename"></app-france-map>
</main>

<footer>
  <div>
    <a href="https://jlg-consulting.com">App offered by JLG Consulting @2020</a>
  </div>
  <div>
    Icons made by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
      >Freepik</a
    >
    from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</footer>
