app-treemap {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;

  .header {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    // align-items: center;
    background: #333;
    color: white;
    padding: 0;
    .title {
      padding: 0.5em 0.3em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 18em;
    }
    .label {
      flex-grow: 1;
      background: #444;
      padding: 0.5em 0.3em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .content {
    width: 60em;
  }
}
