app-france-map {
  display: flex;
  flex-flow: column;
  width: 100%;

  .header {
    display: flex;
    flex-flow: row wrap;
    // align-items: center;
    background: #333;
    color: white;
    padding: 0.5em 0em;
    .title {
      padding: 0 0.3em;
    }
    .label {
      padding: 0 0.3em;
    }
  }

  div.leaflet-map {
    flex-grow: 1;
    display: flex;
    width: 100%;
  }
}

.d3-overlay {
  z-index: 999;
}
